body {
    margin:0px;
    background-color: #dde9fc;
}


.navbar-brand{
    margin:10px;
}

.kokteli{
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top:10px;
    padding-left: 65px;
    
}

.accordion{
    margin-top: 20px;
}



#lijeva_strana{
    width: 50%;
    float: left;
}


#desna_strana{
    width: 50%;
    float: left;

}





.alkoholi{
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top:10px;
    padding-left: 65px;
    
}


.slike{
    width: 300px;
}


.btn {
margin-left: 90%;
}



.hedazuralk{
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top:10px;
    padding-left: 55px;
}

.hedazurkok{
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top:10px;
    padding-left: 55px;
}




.dodajkok{
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top:10px;
    padding-left: 55px;
}

.dodajalk{
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top:10px;
    padding-left: 55px;
}